.main-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/mexico-destination.jpg");
    height: 50vh;
    min-height: 25vh;
    background-size: cover;
    box-shadow: 0 -25px 14px 0 black inset; 
}

